:root {
    font-family: "Fira Sans" sans-serif;
}

footer{
    background-color: #E6CB55;
    color: #451d22;
    padding: 50px 0;
    width: 100%;
    height: auto;
}
footer h4{
    margin-bottom: 30px;
}
.footer-links a{
    color: #451d22;
    text-decoration: none;
    padding-bottom: 200px;
}
.containerfooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin:0 auto;
}
.containerfooter div{
    height: 300px;
    
}
.logofooter{
    display: flex;
    align-items:center;

}
.logofooter img{
width: 190px;
height: 190px;

}
.redessociales{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redessociales a{
color: #451d22;
font-size: 24px;
transition:color 0.3s ease;
text-decoration: none;
}
.redessociales a img{
    width: 40px;
    height: 40px;
}
.redessociales a:hover, .footer-links a:hover{
    color: #b9a1a4;
}
.copyright{
    text-align: center;
}   
@media (max-width:767px) and (min-width:260px) {
    .containerfooter{
        flex-direction: column;
        gap:40px;
    }
    .containerfooter h4{
        font-size: 15px;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-wrap: pretty;
        align-items: center;
    }
    .footer-links h4{
        width:60%;
        text-align: center;
    }
    .logofooter img{
        width: 100px;
        height: 100px;
    }
    .containerfooter div{
        height: auto;
       }
 }